<div class="container">

	<div class="messages">
		<div *ngFor="let msg of messages">
			<span class="float-right text-muted">{{msg.date | date:'short'}}</span>
			<b>{{msg.from}}</b>
			{{msg.text}}
		</div>
	</div>


	<div class="row">
		<div class="col-2">
			<input class="form-control" [(ngModel)]="inputName" placeholder="Your Name">
		</div>
		<div class="col-10">
			<input class="form-control" [(ngModel)]="inputText" (keydown.enter)="sendInput()" [disabled]="!inputName">
		</div>
	</div>
</div>
